<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1074034220298-u97dri9k1g0um0ccirfua34qii5tfstg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074034220298-u97dri9k1g0um0ccirfua34qii5tfstg</string>
	<key>API_KEY</key>
	<string>AIzaSyBy24csFP3L81y5fYzg37uA99z0dem9Sd4</string>
	<key>GCM_SENDER_ID</key>
	<string>1074034220298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RyanF.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-72cc1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-72cc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074034220298:ios:c5c85d226d7d8864</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-72cc1.firebaseio.com</string>
</dict>
</plist>